#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- all

override_dh_auto_install:
	dh_auto_install -- PREFIX=$(CURDIR)/debian/foobnix/usr

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG
