<!--  {% include params.html %}  -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Foobnix</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/assets/css/docs.css" rel="stylesheet">
<link href="/assets/css/prettify.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="http://www.foobnix.com/images/logo.png" />

</head>
<body>
{% include navbar.html %}
{% include subhead.html %}

<div class="container">
	{{content}}
</div>

<div class="container">
	<footer>
		<p>Foobnix by Ivan Ivanenko</p>
	</footer>
</div>

    <script type="text/javascript" src="/assets/js/widgets.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/prettify.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/application.js"></script>
    
</body>
</html>
