---
layout: default
---
<div class="container">
  <div class="marketing">
   <p class="marketing-byline"></p>

   <div class="row-fluid">
{% for post in site.posts %}
{%if post.where == 'home' and page.lang == post.categories[0] %}
     <div class="span4">
        <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
        <img src="{{post.image}}">
        <p class="text_left">{{ post.content}}</p>
        <a href="{{post.url}}" class="btn btn-primary btn-large">Read more ...</a>
     </div>
      {% endif %}
{% endfor %}
   
   </div>
  </div>
 </div>

 <br />

 <div class="marketing">
  <h2>Soft News</h2>
 </div>
 <div class="container">
  <!-- Example row of columns -->
  <div class="row">
  
  {% assign counter=0 %}
  {% for post in site.posts %}
{%if post.where == 'news' and page.lang == post.categories[0] and counter < 3 %}
{% assign counter=counter | plus:1 %}
    <div class="span4">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>
     <a class="btn" href="{{post.url}}">View details »</a>
    </p>
   </div>
      {% endif %}
{% endfor %}

 </div>
 </div>

 <div class="container">
  <div class="marketing">
   <h2>Tech Blog</h2>
  </div>
  <div class="row">
  
  {% assign counter=0 %}
    {% for post in site.posts"%}
{%if post.where == 'blog' and page.lang == post.categories[0] and counter < 2 %}
   {% assign counter=counter | plus:1 %}
    <div class="span6">
    <h2>{{post.title}}</h2>
    <a class="btn btn-small" href="#">Author <i class="icon-user"></i>  <strong>Dmitry Kogura</strong></a>
    <p></p>
      {{post.content}}
     <a class="btn" href="{{post.url}}">View details »</a>
    </p>
    </div>
      {% endif %}
{% endfor %}
   </div>
  </div>
 </div>