[Desktop Entry]
Name=Foobnix
Comment=An elegant GTK+ MPD client
Exec=foobnix
Terminal=false
Type=Application
Icon=foobnix
Categories=GTK;AudioVideo;Player;
StartupNotify=true
