#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=foobnix
Exec=foobnix
Name[en_US]=foobnix
Name=foobnix
Icon=foobnix
